<!DOCTYPE html>
<html ng-app='energyApp'>
<head>
  <title><%= title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta content="yes" name="apple-mobile-web-app-capable" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/base.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/skeleton.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/layout.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/fontello.css">
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script src="../bower_components/angular/angular.js"></script>
</head>
<body ng-controller='mainCtrl'>
<header>
  <div class="container">
  <img src="/images/sunhome.png" alt="sunhomelogo" width="50">
        <h1 id="banner-header"><a href="#">SunHome</a></h1>
  </div>
</header>
<div class="container">
    <div class="eight columns clearfix firstPart">
      <button id="geolocate" ng-click="geo()"><span class="icon-location"></span>Use my current location</button>
      <span class="or">or</span>
      <button id="enterAddress" ng-click="enterAdd()"><span class="icon-edit"></span>Enter an address</button>
      <form ng-show="enterAdd == true" novalidate name="energyForm" role="form" ng-submit="submit(add)">
        <div class="form-group">
            <label for="addr1">Address:</label>
            <input type="text" name="addr1" ng-model='add.addr1' class="form-control" id="addr1" required placeholder="1600 Amphitheatre Pkwy">
            <span class="help-block" ng-show="energyForm.addr1.$pristine">Required</span>
        </div>
         <div class="form-group">
          <label for="addr2">City</label>
          <input type="text" name="city" ng-model='add.city' class="form-control" id="City" placeholder="Mountain View">
          </div> 
          <div class="form-group">
          <label for="State">State</label>
          <input type="text" name="state" ng-model='add.state' class="form-control" id="State" placeholder="CA">
           </div>
           <div class="form-group">
          <label for="zip">Zip</label>
          <input type="text" name="zip" ng-model='add.zip' class="form-control" id="Zip" placeholder="94043">
          <span class="help-block" ng-show="energyForm.zip.$pristine">Required</span>
          </div>
          <button type="submit" ng-disabled="!energyForm.$valid" class="btn btn-default"><span class="icon-login"></span>Submit</button>

        </form>
        </div>

        <div style="width:100%" class="sixteen columns clearfix" ng-show="showGraphs == true">
            <div class="page-divider"></div>
              <h1 class="icon-cog-alt">Utility Information for: <span class="dataTitle">{{utilName}}</span></h1>
              <div id="kwhChart"></div>
              <div class="page-divider"></div>
              <button id="gbUpload"><img src="/images/gblogo.png"/></button>
            <div class="page-divider"></div>
            <h1 class="icon-sun">Solar Information</h1>
            <h3 id="showme" style="display:none">System Size: 4.05</h3>
            <h3>Annual Solar Output: {{dctotal}} kW <div id="annualCon"></div></h3>
            <div id="pvChart"></div>
            <div class="page-divider"></div>
            <div class="sixteen columns">          
              <h1 id="gbGraph" class="icon-flash">Daily Power Consumption</h1>
              <div id="dcChart"></div>
              <div class="page-divider"></div>
              <div id="savings"></div>
            </div>
        </div>
</div>
<script src="/javascripts/highcharts.js"></script>
<script type="text/javascript" src="/javascripts/mainCtrl.js"></script>
<script type="text/javascript" src="/javascripts/hcCustom.js"></script>
<script type="text/javascript" src="/javascripts/main.js"></script>
</body>
</html>