<!DOCTYPE html>
<html ng-app='energyApp'>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/base.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/skeleton.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/layout.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script src="../bower_components/angular/angular.js"></script>
</head>
<body ng-controller='mainCtrl'>
<header>
  <div class="container">
    <div class="eight columns">
        <h1 id="banner-header"><a href="#">Save With Solar</a></h1>
    </div>
  </div>
</header>
<div class="page-divider"></div>
<div class="container">
    <div class="eight columns clearfix">
    <button id="geolacate" ng-click="geo()">Use my current location</button>
      <form novalidate name="energyForm" role="form" ng-submit="submit(add)">
        <div class="form-group">
            <label for="addr1">Address one:</label>
            <input type="text" name="addr1" ng-model='add.addr1' class="form-control" id="addr1" required placeholder="1600 Amphitheatre Pkwy">
            <span class="help-block" ng-show="energyForm.addr1.$pristine">Required</span>
        </div>
         <div class="form-group">
          <label for="addr2">City</label>
          <input type="text" name="city" ng-model='add.city' class="form-control" id="City" placeholder="Mountain View">
          </div> 
          <div class="form-group">
          <label for="State">State</label>
          <input type="text" name="state" ng-model='add.state' class="form-control" id="State" placeholder="CA">
           </div>
           <div class="form-group">
          <label for="zip">Zip</label>
          <input type="text" name="zip" ng-model='add.zip' class="form-control" id="Zip" placeholder="94043">
          <span class="help-block" ng-show="energyForm.zip.$pristine">Required</span>
          </div>
        </div>
        <div class="eight columns clearfix">
          <label for="input">File input</label>
          <input type="file" id="files"> 
          <p class="help-block">Upload Green Button data here</p>
        <button type="submit" ng-disabled="!energyForm.$valid" class="btn btn-default">Submit</button>
        </form>
        </div>

        <div class="sixteen columns clearfix" ng-show="showGraphs == true">
            <div class="page-divider"></div>
              <h1>Utility Information for: {{utilName}}</h1>
              <div id="kwhChart"></div>
              <div class="page-divider"></div>
            <h1>Solar Information</h1>
            <div id="pvChart"></div>
            <div class="page-divider"></div>
            <h1>Daily Power Consumption</h1>
            <div id="dcChart"></div>
        </div>
</div>
    <!--<div class="col-md-6" id="return1">
      <div ng-show="add.addr1.length">
        Your address is: <br/><b>
        {{add.addr1 | uppercase}} {{add.city | uppercase}} <span ng-show="add.state.length">,</span>{{add.state | uppercase}} {{add.zip}}</b> <br/>
      </div>
      <div ng-show="ajax2 == true">
      <h1>Solar Data</h1>
      AC Annual: {{pvdata.outputs.ac_annual}} <br/>
      Solar Radiation Anuual: {{pvdata.outputs.solrad_annual}} <br/>
      </div>
    </div>-->

  </div>
</div>
<script src="/javascripts/highcharts.js"></script>
<script type="text/javascript" src="/javascripts/mainCtrl.js"></script>
<script type="text/javascript" src="/javascripts/hcCustom.js"></script>
<script type="text/javascript" src="/javascripts/main.js"></script>
</body>
</html>